<head>

    <link rel="stylesheet" type="text/css" href="styles/studies.css">

    <link rel="stylesheet" type="text/css" href="styles/all.css">
</head><h1>{{title}}</h1>
  <div class="block" ng-repeat="(univ,text) in names">
    <div><h2>{{univ}}</h2><div class = "img">
      <img ng-src="images/{{univ}}.png"/>
  </div>
    </div>
    <p class=" text">{{text}}

      </p>
  </div>
<footer>

    <input type="image" onclick="window.location.href='http://www.facebook.com/jeanloic.mugnier';"  src="images/facebook.jpg" />
    <input onclick="window.location.href='http://www.linkedin.com/jeanloicmugnier';" type="image" src="images/linkedin.jpg" />
    <input onclick="window.location.href='http://www.twitter.com';" type="image" src="images/twitter.jpg" />
</footer>